{% extends 'StageStatBundle::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('stage_stat_homepage') }}">Home</a>
        </li>

    {% if ctypes %}
        <li>
            <a href="{{ path('stage_stat_detail', {'ctype':'contenttype', 'contentType':typenaam}) }}">Detail</a>
        </li>
    {% endif %}
        <li class="active">Overige</li>
    </ol>
    <input id="selected" type="hidden" value="{{ slug }}" />

    <h2>Content Analytics & Statistics - {{ typenaam }}: Overige</h2>
    <hr>
    <div class="clearfloat">
        {% for stat in status %}
            <div class="alert alert-info">
                {{ stat.result }}
            </div>
        {% endfor %}

    {% if taxitems %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <th>Taxonomy Item</th>
                <th>Aantal</th>
                <th>Percentage</th>
                </thead>
                {% if pager %}
                {% for content in pager %}
                    <tr>
                        <td> <a href="{{ path('stage_stat_tax_detail', {'ctype':'taxonomy', 'taxonomyType':content.type, 'taxonomyItem':content.title}) }}" />{{ content.title }}</a> </td>
                        {#<td>{{ content.title }}</td>#}
                        <td>{{ content.count }}</td>
                        <td>{{ content.perc }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    {{ knp_pagination_render(pager) }}
    {% endif %}

    {% if ctypes %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <th>Taxonomy Item</th>
                <th>Aantal</th>
                <th>Percentage</th>
                </thead>
                {% if pager %}
                    {% for content in pager %}
                        <tr>
                            {#<td> <a href="{{ path('stage_stat_tax_detail', {'ctype':'taxonomy', 'taxonomyType': type , 'taxonomyItem':content.title}) }}" />{{ content.title }}</a> </td>#}
                            <td>{{ content.title }}</td>
                            <td>{{ content.count }}</td>
                            <td>{{ content.perc }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        {{ knp_pagination_render(pager) }}
    {% endif %}

    </div>
{% endblock %}