{% extends 'StageStatBundle::base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('stage_stat_homepage') }}">Home</a>
        </li>
        <li class="active">Detail</li>
    </ol>
    <input id="selected" type="hidden" value="{{ slug }}" />

    <div id="header">
        <h1 class="page_title">Content Analytics & Statistics - {{ typenaam }}: {{ title }}</h1>
    </div>
    <hr>
    {% include 'StageStatBundle::datepicker.html.twig' %}
        <div id="content">
        </div>
{% endblock %}