{% extends 'StageStatBundle::base.html.twig' %}
{% block body %}

    <div id="header">
        <h1>Content Analytics & Statistics</h1>
        <hr>
        {% include 'StageStatBundle::datepicker.html.twig' %}
        <div id="content">
        </div>
    </div>
{% endblock %}