#datepicker{
    text-align:right;
    display: inline-block;
    float: right;
}

#datepickcontainer {
    position: relative;
    height: 40px;
}

#content {
    z-index: 1;
}

#header {
    padding-top: 20px;
}

#dateRef{
    display:none;
    float: right;
    z-index: 2;
    position: absolute;
    right: 0px;
}

#contenttypes {
    height: 300px;
}

.dateInput{
    height: 38px;
    text-align: left;
    z-index: 1001;
    position: absolute;
    right: 0px;
    top: 0px;
}

.dateClick{
    cursor: pointer;
    top: 0px;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
}

.dp-highlight .ui-state-default {
    background: #0b62a4;
    color: #FFF;
}

div.ui-datepicker{
    font-size: 12px;
}

.tax_item {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    float: left;
}

.title:first-letter {
    text-transform:capitalize;
}
.bargraph {
     height: 250px;
     width: 70%;
     float: left;
 }

.donutgraph {
    height: 250px;
    width: 30%;
    float: left;
}

.clearfloat{
    clear:both;
}

.loader {
    background: url('http://www.skipjack.co.za/img/lazy-loader_260x195_b.gif') no-repeat center;
    height: 200px;
    width: 100%;
}

#titel{
    display:inline;
    text-transform:capitalize;
}